<!DOCTYPE html>
<html lang="de" ng-app="DashboardApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/angular.min.js"></script>

    <title>M-PZE Dashboard</title>

    <meta name="description" content="">

    <!-- CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style-blue.css" rel="stylesheet" title="default">
    <link href="../css/main.css" rel="stylesheet" title="default">

</head>

<body ng-controller="DashboardCtrl" id="DashboardCtrl">

<div class="coming-back">
    <nav class="navbar navbar-static-top navbar-default navbar-inverse navbar-light-white">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="login.html">Login</a>
                    </li>
                    <li class="">
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="">
                        <a href="list.html">Liste</a>
                    </li>
                    <li class="">
                        <a href="settings.html">Einstellungen</a>
                    </li>
                    <li class="">
                        <a href="administration.html">Administration</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="coming-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <div class="coming-counter">
                        <h1 class="animated fadeInRight animation-delay-6">Coming Soon</h1>
                        <div id="getting-started" class="animated fadeInRight animation-delay-7">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="coming-desc">
                        <h1 class="animated fadeInDown animation-delay-5">artificial reason</h1>
                        <p class="animated fadeInDown animation-delay-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum facere tempora sapiente, non molestiae quibusdam incidunt id deserunt beatae unde rem nisi, temporibus itaque laboriosam ex! Illum optio neque amet officiis doloribus.</p>
                    </div>
                </div>
                <div class="col-md-6 animated fadeInRight animation-delay-6">
                    <div class="margin-top-20">
                        <textarea rows="3" type="text" class="form-control no-resize member-activity-input textarea-dark" id="member-activity" placeholder="Tätigkeit / Notiz eingeben"></textarea>
                    </div>
                    <div class="pull-right margin-top-20">
                        <button class="btn btn-success margin-right-80">Einstempeln</button>
                        <button class="btn btn-danger">Ausstempeln</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.2.7.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/dashboard.js"></script>

<script src="../js/jquery.countdown.min.js"></script>
<script src="../js/coming.js"></script>

</body>

</html>