<!DOCTYPE html>
<html lang="en" ng-app="LoginApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>M-PZE</title>

    <meta name="description" content="">

    <!-- CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style-blue.css" rel="stylesheet" title="default">
    <link href="../css/main.css" rel="stylesheet" title="default">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/angular.min.js"></script>
</head>

<body ng-controller="LoginCtrl" id="LoginCtrl">

<div class="paper-back-full">
    <div class="login-form-full">
        <div class="fix-box">
            <div class="text-center title-logo animated fadeInDown animation-delay-5"><span>M</span>-PZE</div>
            <div class="transparent-div no-padding animated fadeInUp animation-delay-8">
                <ul class="nav nav-tabs nav-tabs-transparent">
                    <li class="active"><a href="#home" data-toggle="tab">Login</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group login-input">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" placeholder="Benutzername">
                                </div>
                                <br>
                                <div class="input-group login-input">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Passwort">
                                </div>
                                <button type="submit" class="btn btn-ar btn-primary margin-top-20 pull-right">Login</button>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.2.7.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/home_login_full.js"></script>

<script src="../js/login.js"></script>

</body>

</html>
